#filtros, h6 {
    margin-left: 70px;
}

ul li {
    list-style-type: none;
}

h1 {
    margin-left: 5%;
}

#filtros, #buscador {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; 
  }
  