{% extends 'app/base.html' %}

{% block content %}
    {% if user.is_authenticated  %}
        <h1> ¡Informanos de tu incidencia! </h1>
        <br><br>

        {% if submitted %}
            Tu incidencia ha sido enviada con éxito.

            <a href="/app/index">Volver</a>
        {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                    
                {{form.as_p}}
                    
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
    {% else %}
        <h1> ¡Vaya! Parece que no has iniciado sesión. </h1>
        <a href="{% url 'members:login' %}">Inicia sesión aquí</a>
    {% endif %}
{% endblock %}