{% extends 'app/base.html' %}

{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">   

    <center>
        <h1>Contacto</h1>
        <h4>¡Dinos los que quieras!</h4>
        <div class="container">
            <p>
                Siéntase libre para comentarnos cualquier duda y/o sugerencia. <br>
                En cuanto sea posible, uno de nuestros trabajadores estará encantado de atenderle y responder a sus preguntas.
            </p>
            
            <form method="post">
            {% csrf_token %}
            {{form.as_p}}
                <button class="boton-enviar" type="submit">Enviar mensaje</button>
            </form>
        </div> 
        
    </center>

{% endblock %}