{% extends 'app/base.html' %}


{% block content %}

{% if user.is_authenticated  %}
    <meta http-equiv="refresh" content="0; {% url 'members:index' %}" />
{% else %}
    <center>
        <h1> ¡Bienvenido! </h1>
        <h2>Seleccione una de las opciones para comenzar. </h2>
        <br><br><br><br>
        <a href="{% url 'members:login' %}"><button>Iniciar Sesión</button></a>
        <a href="{% url 'members:register-user' %}"><button>Crear una cuenta</button></a>
        
    </center>
{% endif %}

{% endblock %}
