{% extends 'app/base.html' %}


{% block content %}
    <style>
        ul li {
            list-style-type: none;
        }
        
        h1 {
            margin-left: 5%;
        }
    </style>

    {% if user.is_authenticated %}
    <h1> Tus Incidencias </h1>
    <h6 style="margin-left: 70px">Usuario: {{ user }}</h6>
    <br>
    <ul>
        {% for incidencia in incidencia_list %}
            {% if user == incidencia.cliente_id  %}       
                <div class="card">
                    <div class="card-header">
                    <strong>{{ incidencia.titulo_incidencia }}</strong>
                    </div>
                    <div class="card-body">
                    <p class="card-text">
                        <ul>    
                            <li>ID: {{ incidencia.id }}</li>
                            <li>Description: {{ incidencia.desc_incidencia }}</li>
                            <li>Fecha: {{ incidencia.fecha }}</li>
                            <li>Asignada: {{ incidencia.asignada }}</li>
                            <li>Direccion: {{ incidencia.direccion }}</li>
                        </ul>
                    </p>
                    </div>     
                    <div class="card-footer">
                        {% if incidencia.asignada %}
                            <a class="btn btn-secondary btn-sm" title="No se puede modificar una incidencia asignada" disabled> Modificar </a>
                        {% else %}
                            <a href={% url 'app:update-incidencia' incidencia.id %} class="btn btn-outline-secondary btn-sm"> Modificar </a>
                        {% endif %}
                        
                        <a href={% url 'app:delete-incidencia' incidencia.id %} class="btn btn-outline-danger btn-sm"> Eliminar </a>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}


