{% extends 'app/base.html' %}

{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static 'css/mostrar_incidencias.css' %}">

    {% if user.is_authenticated %}
    
    
    <h1> Tus Incidencias </h1>
    <h6>Usuario: {{ user }}</h6>

    <form id="filtros" method="get" action="{% url 'app:filtrar-incidencias' %}">
        <label for="filtro">Filtrar por:</label>
        <select name="filtro" id="filtro">
            <option value="fecha" {% if request.GET.filtro == 'fecha' %}selected{% endif %}>Fecha</option>
            <option value="asignada" {% if request.GET.filtro == 'asignada' %}selected{% endif %}>Asignada</option>
            <!-- Agregar más opciones para los campos que desee filtrar -->
        </select>
        <label for="orden">Ordenar por:</label>
        <select name="orden" id="orden">
            <option value="asc" {% if request.GET.orden == 'asc' %}selected{% endif %}>Ascendente</option>
            <option value="desc" {% if request.GET.orden == 'desc' %}selected{% endif %}>Descendente</option>
        </select>

        <button class="boton-filtro" type="submit">Filtrar</button>
    </form>

    <form id="buscador" method="get" action="{% url 'app:buscar-incidencias' %}">
        <label for="asunto">Buscar por asunto:</label>
        <input type="text" name="asunto" id="asunto">
        <button type="submit">Buscar</button>
    </form>
      

    <br>
    <ul>
        {% for incidencia in incidencia_list %}
            {% if user == incidencia.cliente_id  %}        
            
            
                <div class="card">
                    <div class="card-header">
                    <strong>{{ incidencia.titulo_incidencia }}</strong>
                    </div>
                    <div class="card-body">
                    <p class="card-text">
                        <ul>    
                            <li>ID: {{ incidencia.id }}</li>
                            <li>Description: {{ incidencia.desc_incidencia }}</li>
                            <li>Fecha: {{ incidencia.fecha }}</li>
                            <li>Asignada: {{ incidencia.asignada }}</li>
                            <li>Direccion: {{ incidencia.direccion }}</li>
                        </ul>
                    </p>
                    </div>     
                    <div class="card-footer">
                        {% if incidencia.asignada %}
                            <a class="btn btn-secondary btn-sm" title="No se puede modificar una incidencia asignada" disabled> Modificar </a>
                        {% else %}
                            <a href={% url 'app:update-incidencia' incidencia.id %} class="btn btn-outline-secondary btn-sm"> Modificar </a>
                        {% endif %}
                        
                        <a href={% url 'app:delete-incidencia' incidencia.id %} class="btn btn-outline-danger btn-sm"> Eliminar </a>
                    </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}


