<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'app:home' %}">Rentel App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Events
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'app:add-event' %}">Add Event</a></li>
              <li><a class="dropdown-item" href="{% url 'app:list-events' %}">Events</a></li>
            </ul>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:list-events' %}">All Events</a></li>
          {% endif %}
          </li>
          {% if user.is_authenticated  %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Venues
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'app:add-venue' %}">Add Venue</a></li>
              <li><a class="dropdown-item" href="{% url 'app:list-venues' %}">Venues</a></li>
            </ul>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'app:list-venues' %}">All Venues</a></li>
          {% endif %}
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Files
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'app:venue-text' %}">Venue Text File</a></li>
              <li><a class="dropdown-item" href="{% url 'app:venue-csv' %}">Venue CSV File</a></li>
              <li><a class="dropdown-item" href="{% url 'app:venue-pdf' %}">Venue PDF File</a></li>
            </ul>
          </li>
          {% if user.is_authenticated  %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'members:logout' %}">Logout</a>
          </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'members:login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'members:register-user' %}">Register</a>
            </li>
          {% endif %}

        </ul>
        <form class="d-flex" method="POST" action="{% url 'app:search-venues' %}">
          {% csrf_token %}

          <input class="form-control me-2" type="search" placeholder="Search Venues" aria-label="Search" name="searched">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>