{% extends 'app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <center>
        {% if user %}
            <h1> Tu perfil: {{ user }} </h1>
            Usuario: {{ user }}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Actualizar perfil"
                class="btn btn-outline-secondary">
            </form>
        {% else %}
            <h2>Acceso denegado.</h2>        
        {% endif %}
    </center>
    {% else %}
        <h1> ¡Vaya! Parece que no has iniciado sesión. </h1>
        <a href="{% url 'login' %}">Inicia sesión aquí</a>
    {% endif %}
{% endblock %}
