{% extends 'app/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">

    {% if user.is_authenticated %}
    <center>
        {% if user %}
            <h1>Tu perfil: {{ user }} </h1>
            <form id="perfil" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>

                <button class="btn btn-outline-secondary actualizar-perfil" type="submit">Actualizar perfil</button>

                <!--
                <input type="submit" value="Actualizar perfil"
                class="btn btn-outline-secondary actualizar-perfil" style="text-align: center">
                -->
            </form>
        {% else %}
            <h2>Acceso denegado.</h2>        
        {% endif %}
    </center>
    {% else %}
        <h1> ¡Vaya! Parece que no has iniciado sesión. </h1>
        <a href="{% url 'login' %}">Inicia sesión aquí</a>
    {% endif %}
{% endblock %}
