{% extends 'app/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <center>
        {% if user == incidencia.cliente_id %}
            <h1> Actualizar Incidencia: {{ incidencia }} </h1>
            Usuario: {{ user }}

            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <input type="submit" value="Actualizar incidencia"
                class="btn btn-outline-secondary">
        {% else %}
            <h2>Acceso denegado.</h2>        
        {% endif %}
    </center>
    {% else %}
        <h1> ¡Vaya! Parece que no has iniciado sesión. </h1>
        <a href="{% url 'login' %}">Inicia sesión aquí</a>
    {% endif %}
{% endblock %}